/* Reset */ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Common*/
body{
    max-width: 1680px;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #23272a;
} 

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.btn{
    text-decoration: none;
    border: none;
    padding: 0.7em 1.7em;
    border-radius: 2em;
}

.white-btn{
    color: #23272a;
    background-color: white;
}

.black-btn{
    color: #fff;
    background-color: #23272a;
}

h2{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
    line-height: 1.5em;
}

/* Header */

header{
    background-color: #2a5ee8;
    padding: 25px 0;
}

.container{
    width: 70%;
    margin: auto;
}


.container .logo{
    width: 20%;
    padding: 6px;
}

.logo > img{
    object-fit: contain;
    height: 37px;
}

header nav{
    margin-top: 8px;
    width: 60%;
    text-align: center;
}

header nav li{
    display: inline-block;
}

header nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    padding: 5px
}

header .acc-button{
    padding: 6px;
    width: 20%;
    text-align: right;
}


/* Hero */

.hero{
    height: 545px;;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}

.hero > .container{
    position: relative;
    height: 100%;
}

.hero .text{
    width: 64%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.hero h2{
    margin-bottom: 40px;
}

.hero p{
    margin-bottom: 30px;
}

.hero button{
    margin: 0 15px;
    font-size: 21px;
}

/* Sections */

.padd-section{
    padding-top: 150px;
    padding-bottom: 130px;
}

.text-blk{
    width: 30%;
}

.image{
    width: 55%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

